<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nawsldriver">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_taji_cabs_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_taji_cabs_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="com.nawsldriver.settings.TermsAndConditions"
            android:theme="@style/AppTheme.GreenTop"
            android:parentActivityName="com.nawsldriver.app.TaxiSetUp"/>
        <activity android:name="com.nawsldriver.auth.ForgotPassword"
            android:theme="@style/AppTheme.TajiNoActionBar"
            android:parentActivityName="com.nawsldriver.auth.SignIn"/>
        <activity android:name="com.nawsldriver.trips.TripsActivity"
            android:theme="@style/AppTheme.GreenTop"
            android:parentActivityName="com.nawsldriver.home.Home"/>
        <activity
            android:name="com.nawsldriver.settings.Settings"
            android:parentActivityName="com.nawsldriver.home.Home"
            android:theme="@style/AppTheme.GreenTop" />
        <activity
            android:name="com.nawsldriver.app.App"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nawsldriver.home.Home"
            android:theme="@style/AppTheme.TransparentActionBar" />
        <activity
            android:name="com.nawsldriver.auth.SignUp"
            android:parentActivityName="com.nawsldriver.auth.SignIn"
            android:theme="@style/AppTheme.TransparentActionBar" />
        <activity
            android:name="com.nawsldriver.auth.SignIn"
            android:theme="@style/AppTheme.TajiNoActionBar" />
        <activity
            android:name="com.nawsldriver.home.Profile"
            android:parentActivityName="com.nawsldriver.home.Home"
            android:theme="@style/AppTheme.GreenTop" />
        <activity
            android:name="com.nawsldriver.app.TaxiSetUp"
            android:theme="@style/AppTheme.TajiNoActionBar" />
        <activity
            android:name="com.nawsldriver.taxi.AddTaxi"
            android:parentActivityName="com.nawsldriver.home.Home"
            android:theme="@style/AppTheme.GreenTop" />
        <activity
            android:name="com.nawsldriver.taxi.TaxiManagement"
            android:theme="@style/AppTheme.GreenTop" />
        <activity
            android:name="com.nawsldriver.app.FinishSetup"
            android:theme="@style/AppTheme.GreenTop" />
        <activity
            android:name="com.nawsldriver.settings.UserProfile"
            android:parentActivityName="com.nawsldriver.settings.Settings"
            android:theme="@style/AppTheme.GreenTop" />
        <activity
            android:name="com.nawsldriver.settings.PrivacyPolicy"
            android:parentActivityName="com.nawsldriver.settings.Settings"
            android:theme="@style/AppTheme.GreenTop" />
        <activity
            android:name="com.nawsldriver.settings.ContactUs"
            android:parentActivityName="com.nawsldriver.home.Home"
            android:theme="@style/AppTheme.GreenTop" />
        <activity
            android:name="com.nawsldriver.app.OnBoardingUI"
            android:theme="@style/AppTheme.TajiNoActionBar" /> <!-- OLD SCREENS -->
        <activity
            android:name="com.nawsldriver.driver.DriverHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nawsldriver.configuration.StartApp"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.nawsldriver.driver.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nawsldriver.driver.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.nawsldriver.service.MessagingServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/taji_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
    </application>

</manifest>